.linkSkillCheckbox {
    margin-right: 10px;
    display: contents;
}
.mat-checkbox-layout {
    margin-right: 10px;
}
.mat-label {
    margin-right: 10px;
}

.team-boosts {
    display: flex;
    flex-wrap: wrap;
}
