input {
    width: 105px;
    max-width: 33%;
}

.character-results {
    top: 10%;
}
.searchandfilter {
    text-align: center;
    text-align: webkit-center;
}

// TODO stop box moving top position on filter resize