.character-selection-icon {
    height: 100px;
}

.character-selection-button {
    margin: auto;
    top: 22px
}

.character-selection-image-button {
    width: 100px;
    height: 100px;
    max-width: 100px;
    text-align: center;
}